/* common shared styles */
body{
    font-family: Merriweather;
    font-family: Merriweather;
}
/* nav related styles */
nav {
    .banner-title{
        color: #FFF;


text-align: center;
justify-content: center;
display: flex;
flex-direction: column;
align-items: center;
font-family: Merriweather;
font-size: 72px;
font-style: normal;
font-weight: 900;
line-height: 95px;
    }
    .landing-page{
        background: #FFF;
    }
}
.banner-pic{
    margin-top: 50px;
    margin-right: 140px;
    margin-left: 140px;
    border-radius: 16px;
    background-image: url('../images/Banner/ Image.png');

background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    width: 1320px;
height: 600px;
flex-shrink: 0;






}

/* offer section styles */
.offer-percentage{
    margin-top: 770px ;
    margin-right:608px;
    margin-left: 609px;
    margin-top: 120px;
    background: #FFF;
    color: #F00;
text-align: center;
font-family: Inter;
font-size: 88px;
font-style: normal;
font-weight: 700;
line-height: normal;
}



.offer-moto{
    margin-top: 25px;
    color: #F00;
text-align: center;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
}






.offer-categories{
    color: #070211;
text-align: center;
font-family: Inter;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.new-year-pic{
    margin-left: 400px;
    width: 802.9px;
height: 500px;
flex-shrink: 0;
}


/* welcome banner styles */

.welcome-banner{
    width: 100vw;
    height: 100vh;
    position: relative;
    background-image: url('../images/Vectorrr.png')
     
     
}

.welcome-words{
    color: #FFF;
    margin-top: 126px;
    margin-bottom: 298px;
    margin-right: 126px;
    padding-left: 150px;
    padding-top: 100px;
font-family: Merriweather;
font-size: 64px;
font-style: normal;
font-weight: 900;
line-height: 88px; /* 137.5% */
letter-spacing: 7.04px;
display: flex;
justify-content:space-between

}

.welcome-description{
    padding: 30px 30px 0px 100px;
    color: rgba(255, 255, 255, 0.80);
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 166.667% */
justify-content: space-between;

.joining-invitation{
    color: #FFF
text-align: center;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;


}

}

.location{
    padding: 300px;
    width: 1320px;
    height: 482px;
    flex-shrink: 0;
    background: #FF0000" 

}

/* portfolio text related styles */

.gifts-quality{
    margin-left: 500px;
    color: #F00;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;

}

/* portfolio related styles */
.portfolio-bag{
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
    width: 424px;
height: 450px;
flex-shrink: 0;
border-radius: 16px;
background: lightgray 0px -35.755px / 100% 142.115% no-repeat;

}

.portfolio-purse{
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
    width: 424px;
height: 450px;
flex-shrink: 0;
border-radius: 16px;
background: lightgray 50% / cover no-repeat;

}

.portfolio-red-shoe{
    width: 424px;
height: 450px;
margin-bottom: 10px;
margin-left: 10px;
margin-right: 10px;
flex-shrink: 0;
border-radius: 16px;
background:  lightgray 50% / cover no-repeat;

}

.portfolio-white-shoe{
    width: 424px;
height: 450px;
margin-bottom: 10px;
margin-left: 10px;
margin-right: 10px;
flex-shrink: 0;
border-radius: 16px;
background:lightgray -195.366px 0px / 156.077% 100% no-repeat;

}
.portfolio-glasses{
    margin-bottom : 10px;
    margin-right: 10px;
    margin-left: 10px;
    width: 424px;
height: 450px;
flex-shrink: 0;
border-radius: 16px;
background: lightgray 50% / cover no-repeat;

}
.portfolio-bangles{
    margin-bottom: 10px;
    margin-left: 10px;
    margin-left: 10px;
    width: 424px;
height: 450px;
flex-shrink: 0;
border-radius: 16px;
background:lightgray 50% / cover no-repeat;

}









}



}

















}







